$major_bg_color: #00A776;
$minor_bg_color: #080808;

$list_bg_color_even: #2f2f2f;
$list_bg_color_odd: #484848;
$list_bg_color_4: #242424;


$second-color: #000;

$main_time: .3s;

$main_fz: 1.125em;
